

  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body{
    margin: 0;
}
.container{
    width:100vw;
    height:100vh;
    display:grid;

    grid-template-columns: 1fr 1fr 1fr 341.25px;
    grid-template-rows: 75px 75px 1fr 1fr 100px;

    grid-template-areas: 
    "h1 h1 h1 h1"
    "tb1 tb2 tb3 tb4"
    "image image image logo1"
    "image image image logo2"
    "f1 f1 f1 f1";
}

.header1{
    grid-area: h1;
    background-color: rgb(0, 195, 255);
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    color: white;


    display: flex;
    justify-content: center;
    align-items: center;

    
}

.topbar1{
    grid-area: tb1;
    background-color: rgb(3, 83, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    color: white;
}
.topbar2{
    grid-area: tb2;
    background-color: rgb(3, 83, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    color: white;

}
.topbar3{
    grid-area: tb3;
    background-color: rgb(3, 83, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    color: white;
}
.topbar4{
    grid-area: tb4;
    background-color: rgb(3, 83, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    color: rgb(226, 250, 9);
}


.item1{
    grid-area: image;
    background-color: rgb(248, 248, 248);
    
    font-size: large;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.item2{
    grid-area: logo1;
    background-color: rgb(194, 194, 194);
    display: flex;
    justify-content: center;
    align-items: center;
}
.item2>img{
    height:auto;
    width:50%;
}
.item3{
    grid-area:logo2;
    background-color: rgb(194, 194, 194);
}
.footer{
    grid-area: f1;
    background-color: rgb(3, 83, 255);
}

a{
    color:white;
}


@media only screen and (max-width:800px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 75px 75px 600px 500px 250px 100px;
        grid-template-areas: 
    "h1 h1 h1 h1"
    "tb1 tb2 tb3 tb4"
    "image image image image"
    "image image image image"
    "l l l l"
    "f1 f1 f1 f1";
    }

    body{
        margin:0;
    
    }
    .item2{grid-area: l;}
    .item2>img{
        height: 70%;
        width: auto;
    }
    .item1{display:flex;
        text-justify: auto;
        grid-area:image;}
    
    

        
    
}